<div class="row">
  <h1 class="self-or-friends-prompt">Who are you finding a gift for?</h1>
  <br><br>
  <div class="col-xs-12 col-md-6">
    <div class="gift-group-container" id="yourself">
      <img src="<%= user.get('large_picture_url') %>" class="select-gift-group">
      <h2>Yourself</h2>
    </div>
  </div>
  <div class="col-xs-11 col-md-6">
    <div class="gift-group-container" id="friend">
      <img src="/blank_fb_avatar.jpg" class="select-gift-group">
      <h2>A Friend</h2>
    </div>
  </div>
</div>