<div class="row">
  <h1 class="self-or-friends-prompt">Who are you finding a gift for?</h1>
  <br><br>
  <div class="col-xs-12 col-md-6 gift-group-container">
    <img src="<%= user.get('large_picture_url') %>" class="select-gift-group">
    <h2>Myself</h2>
  </div>
  <div class="col-xs-12 col-md-6 gift-group-container">
    <img src="/blank_fb_avatar.jpg" class="select-gift-group">
    <h2>A Friend</h2>
  </div>
</div>