<h1>Friends</h1>

<h3>You have <%= _("friend").pluralize(friends.models.length, true) %> using GiftMe</h3>
<% friends.models.forEach(function(friend) { %>
  <div class="friend">
    <a href="<%= "/#/users/" + friend.id %>">
      <img data-original="<%= friend.escape("small_picture_url") %>" class="friend-photo lazy">
      <%= friend.escape("name") %>
    </a>
  </div>
<% }) %>