<% if(_.include(user.get("wanted_item_ids"), item.id)) { %>
  <button class="btn btn-danger btn-sm remove-favorite">Remove</button>
<% } else { %>
  <button class="btn btn-primary btn-sm add-favorite">+ My List </button>
<% } %>