<div class="item img-thumbnail" data-id="<%= item.id %>">
  <img src="<%= item.escape("large_image_url") %>" style="width:100%"><br>
  <div>
    <%= item.escape("title") %>
  </div>
  <hr>
  <div>
    <span class="price">
      $<%= price %>
    </span>
    <span class="more-info">
      <button class="btn btn-info">More Info</button>
    </span>
  </div>
</div>