<form class="navbar-form navbar-left" role="search" id="friend-search">
  <div class="form-group">

    <select name="friend-selector" id="friend-selector" class="form-control">
      <!-- <option value="" disabled selected>Search your Friends... </option> -->
      <option></option>
      <% if(GiftMe.users) { %>
        <% GiftMe.users.models.forEach(function(user) { %>
          <option data-id="<%= user.get("id") %>" 
                  data-url="<%= user.escape('small_picture_url') %>">
                    <%= user.escape("name") %>
          </option>
        <% }) %>
      <% } %>
<!-- 
      <option value="AL">Alabama</option>
      <option value="AK">Alaska</option>
      <option value="AZ">Arizona</option>
      <option value="AR">Arkansas</option>
       -->
    </select>

    <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/> 
  </div>
</form>
