<form class="navbar-form navbar-left" role="search" id="friend-search">
  <div class="form-group">
    <input type="text" name="friend-selector" class="form-control friend-selector">
    <input type="submit" style="position: absolute; left: -9999px; width: 1px; height: 1px;"/> 
  </div>
</form>

<!-- data-toggle="body" data-placement="bottom" data-content="testing popover" -->