#top-nav{
  background: #333333;

  a {
    color: #ffffff;
    font-size: 1.3em;
    padding: 10px;
  }

  a:hover {
    color: #eeeeee;
  }

  .top-nav-link {
    padding-top:20px; 
  }

  .collapse {
    background: #333333;
  }

  .collapsing {
    background: #333333;
  }


  .brand {
    height: 50px;
  }

  // .navbar-brand {
  //   padding-top: 7px;
  //   padding-bottom: 0px;
  //   padding-left: 55px;
  // }

  .navbar-right {
    padding-right: 65px;
  }
}

body { 
  padding-top: 50px;
  font-family: lato, sans-serif;

}

.logged_in {
  background: #c1eaea;
}

.logged_out {
  background: url(breakfast-egg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;    
}


.select2-choice {
  margin: 0px;
  padding: 0px;
  border: 0px;

  .select2-chosen {
    marign-left: 10px;
    color: #444444;
  }
}