.splash-page
{
  background-color:   #0176A0;
  background-image:   -moz-radial-gradient(center, ellipse cover, #EEEEEE 0%, #3b5998 100%);
  background-image:   -webkit-radial-gradient(center, ellipse cover, #EEEEEE 0%, #3b5998 100%);
  background-image:   -o-radial-gradient(center, ellipse cover, #EEEEEE 0%, #3b5998 100%);
  background-image:   -ms-radial-gradient(center, ellipse cover, #EEEEEE 0%, #3b5998 100%);
  background-image:   radial-gradient(center, ellipse cover, #EEEEEE 0%, #3b5998 100%);
  filter:             progid:DXImageTransform.Microsoft.gradient(startColorstr = '#EEEEEE', endColorstr = '#3b5998', GradientType = 0);
}

.app-info {
  position: absolute;
  top: 25%;
  width: 100%
}

.product-name {
  font-size: 3.0em;
  color: white;
  text-shadow: 0 0 40px #3B5995, 0 0 50px rgba(58,89,152,0.3);
}

.product-info {
  font-size: 1.3em;
  color: white;
  text-shadow: 0 0 40px #3B5995, 0 0 50px rgba(58,89,152,0.3);
}

.outer {
  position: absolute;
  top: 45%;
  width: 100%;
}

.inner {
  text-align: center;
}

#sign-in img {
  width: 250px;
  border-radius: 5px;
}